@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
  scroll-behavior: smooth;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{ 
    color: #ffffff;
    background: #030412;   
    font-family: 'Montserrat', sans-serif;
}

.top-section{     
  margin: 0 auto;
  padding: 0 20px;
  border-bottom: 0.1px solid #88888875;
  height: 80px;
  display: flex;
  align-items: center;  
  position: fixed;    
  top: 0;
  left: 0;
  width: 100%;       
  z-index: 1000;
  background-color: rgba(3, 4, 18, 0.85); 
  backdrop-filter: blur(6px);      
}

.hero-section{
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.navbar {
    height: 50px;
    width: 85%; 
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-items {
    width: 92%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-size: 1.1rem;
}

.nav-category a {
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease;
    font-size: 20px;
    font-weight: 600;
}

.nav-category a:hover {
    color: #fff4bd;
}

.bot {
    color: white;
    font-size: 1.1rem;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.logo{
  color: white;
    font-size: 1.1rem;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Libre Baskerville', serif;
}

.surname{
  color: #a1a1aa;
}

.bot:hover {
    color: #fff4bd;
}

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #a16ae8;
  animation: typing 3s steps(30), blink 0.7s step-end infinite alternate;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  50% { border-color: transparent }
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
    padding: 1rem;
    width: 1100px;
    height: 78vh; 
    margin-top: 130px;
}

.role {
    margin: 18px;
    margin-top: 6px;
    font-size: 2rem;
    font-weight: bold;
    color: #887bb0;
}

.name {
    margin-left: 18px;
    font-size: 5.2rem;
    font-weight: 600;
    max-width: 700px;
    color: #fdfdfd;
    background: linear-gradient(90deg, #A16AE8, #F4B9B8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Domine', serif;
}

.hi{
    margin-left: 18px;
    font-size: 20px;
    font-weight: 600;
    max-width: 700px;
    color: #fdfdfd;
    margin-top: 16px;
    font-family: 'Libre Baskerville', serif;
}
.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    margin: 1rem;
}

.fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
  height: 450px;
  position: relative;
  z-index: 1;
}

.image-container {
  position: relative;
  z-index: 1;
}

.image-container::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
  width: 450px;
  height: 450px;
  z-index: -1;
  border-radius: 20px;
  background: 
    radial-gradient(circle at top right, rgba(136, 123, 176, 0.5) 0%, transparent 60%),
    radial-gradient(circle at bottom left, rgba(133, 210, 208, 0.4) 0%, transparent 60%);
  filter: blur(50px);
  opacity: 0.8;
  pointer-events: none;
}


.info-container {
  height: 450px;
}

.download{
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.social-links {
    margin-left: 22px;
}

.socials {
    display: flex;
    gap: 20px;
    font-size: 2rem;
    margin-top: 30px;
    margin-left: 6px;
}

.socials a {
    color: #887bb0;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: #f4b9b8;
}

a {
    text-decoration: none;
    color: inherit;
}

.button{
    border-radius: 50px; 
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.button:hover{
    box-shadow: 0 0 12px 4px rgba(136, 123, 176, 0.3);
    transform: scale(1.03);
}

.resume{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
    height: 50px;
    border: 2px solid #e59ca2; 
    color: #c5878c;
}

.contact{
    width: 110px;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: 2px solid #85D2D0; 
    color: #7ebebc;
}

.resume:hover{
    background: rgba(229, 156, 162, 0.2); 
    color: #df9fb2;
    border-color: #d18b91;
}

.contact:hover{
    background: rgba(80, 145, 142, 0.2); 
    color: #7ec5c3;
    border-color: #75b4b1;
}

.quote{
  margin-top: 90px;
  font-weight: 400;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  color: #ddd;
  position: relative;
}

.about-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.about-content{
  margin-top: 30px;
  margin-left: 100px;
  width: 500px;
  font-size: 16px;
  letter-spacing: 1.1px;
  color: #c9c9c9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-title{
  font-size: 70px;
  font-weight: 700;
  font-family: 'Domine', serif;        
  background: linear-gradient(160deg, #00c9ff, #92fe9d);
  -webkit-background-clip: text;   
  -webkit-text-fill-color: transparent;
  background-clip: text;           
  color: transparent;
  margin-bottom: 16px;
}

.about-animation {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-lottie{
  width: 500px !important;
  height: 500px !important;
} 


.skills-title {
  width: 100%;
  font-size: 100px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  background: linear-gradient(150deg, #00f5ff, #6a5cff, #b624ff);
  -webkit-background-clip: text;   
  -webkit-text-fill-color: transparent;
  background-clip: text;           
  color: transparent;
  font-family: 'Domine', serif;
}

.skills-section {
  display: flex;
  justify-content: center;
  min-height: 670px;
}

.skills-container {
  width: 70%;
  text-align: center;
}

.tabs {
  display: flex;
  width: 100%;
  margin-top: 20px;
  height: 70px;
  justify-content: space-around;
}

.tab-button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  transition: 0.3s ease;
  color: #aaa;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.tab-button:hover {
  color: #fff799;
  font-size: 22px;
}

.tab-button.active {
  font-weight: 600;
  background: linear-gradient(90deg, #ff8c42, #ff4f81, #d6249f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.skill-item {
  width: 150px;
  height: 140px;
  margin: 15px;
  padding: 15px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.skill-item:hover {
  transform: translateY(-5px) scale(1.05);
  background: rgba(255, 255, 255, 0.1);
}

.icon, .custom-icon {
  font-size: 48px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.skill-item:hover .icon, 
.skill-item:hover .custom-icon {
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px currentColor);
}

.skill-name {
  margin-top: 10px;
  font-size: 20px;
  color: #ccc;
}


.custom-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-bottom: 10px;
}

.react { color: #61DAFB; }      
.node { color: #3C873A; } 
.js { color: #F7DF1E; }         
.html { color: #E34F26; }       
.css { color: #1572B6; }  
.git { color: #F05032; }  
.mysql { color: #5897c7; } 


.skills-grid-wrapper {
  position: relative;
  min-height: 250px; 
}


.experience-title {
  width: 100%;
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(150deg, #00f5ff, #6a5cff, #b624ff);
  -webkit-background-clip: text;   
  -webkit-text-fill-color: transparent;
  background-clip: text;           
  color: transparent;
  font-family: 'Domine', serif;
  margin-left: 160px;
}

.experience-section {
  color: #fff;
  margin-top: 0px;
}
.timeline {
  position: relative;
  margin: 0 auto;
  padding-left: 60px;  
  max-width: 900px;
  margin-top: 20px;
  --line-height: 0%;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 10px;  
  top: 0;
  width: 2px;
  height: var(--line-height, 0%); 
  background: linear-gradient(to bottom, #2c257a, #9c55c0);
  transition: height 0.2s ease-out;
  bottom: -50px;
}

.timeline-item {
  position: relative;
  margin-bottom: 60px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.timeline-item.visible {
  opacity: 1;
  transform: translateY(0);
}


.timeline-dot {
  position: absolute;
  left: -58px;       
  top: 50%;       
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-color: #b9b8b8;
  border-radius: 50%;
  animation: dotPulse 2s infinite alternate;
}

.timeline-content {
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.timeline-date {
  font-size: 0.9rem;
  color: #aaa;
}

.timeline-role {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0;
  color: white;
}

.timeline-company {
  font-size: 1rem;
  color: #a855f7;
  margin-bottom: 10px;
}

.timeline-content ul {
  margin: 0;
  padding-left: 18px;
  color: #ccc;
}

.timeline-content li {
  margin-bottom: 6px;
  line-height: 1.4;
}

.timeline-stack {
  font-size: 0.85rem;
  color: #aaa;
  margin-top: 8px;
}

.projects-section {
  padding: 6rem 2rem;
}

.projects-title {
  font-size: 4.7rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #a0c4ff, #3c4a6b);
  -webkit-background-clip: text;   
  -webkit-text-fill-color: transparent;
  background-clip: text;           
  color: transparent;
  font-family: 'Domine', serif;
}

.project-card-section{
  padding-top: 40px;
}

.project-card {
  border: 1px solid #9c55c0b0;
  border-radius: 12px;
  padding: 1rem;
  text-align: left;
  color: #e5e5e5;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 450px;
  height: 430px;
  margin: auto;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 0 30px rgba(156, 85, 192, 0.4);
}

.project-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(156, 85, 192, 0.3);
}

.project-title {
  font-size: 1rem;
  font-weight: 600;
  color: #ae75ca;
  margin-bottom: 0.2rem;
}

.project-description {
  font-size: 0.8rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
  opacity: 0.9;
}

.project-tech {
  margin-bottom: 0.4rem;
}

.tech-badge {
  background: transparent;
  border: 1px solid #9c55c0;
  border-radius: 20px;
  padding: 4px 14px;
  margin: 6px;
  margin-left: 0px;
  font-size: 0.7rem;
  transition: 0.3s;
  color: #e5d2ee;
  display: inline-block;
  background-color: #9c55c02f;
}

.tech-badge:hover {
  background: #9c55c0;
  color: black;
  font-weight: 600;
}

.project-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.github-btn,
.demo-btn {
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.7rem;
  font-weight: 600;
  border: 1px solid;
  transition: all 0.3s ease;
  text-decoration: none;
}

.github-btn {
  border-color: #9c55c0;
  color: #9c55c0;
  background-color: #9c55c00c;
}

.github-btn:hover {
  background: #9c55c0;
  color: #000;
}

.demo-btn {
  border-color: #c5878c;
  color: #c5878c;
  background-color: #c5878c18;
}

.demo-btn:hover {
  background: #c5878c;
  color: #000;
}

.swiper-pagination-bullet {
  background: #9c55c0 !important;
  opacity: 0.4;
}

.swiper-pagination {
  position: relative !important;  
  margin-top: 2rem;             
  text-align: center;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  transform: scale(1.3);
}

.swiper-button-next,
.swiper-button-prev {
  color: #f1e3f7 !important;
  background: rgba(0, 0, 0, 0.4);
  border: 0.14rem solid #ebd8f7;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: 0.3s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important; 
  font-weight: 700 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #9c55c0;
  color: #000 !important;
}

